mixin project-header(name, clientName, cover, tags, format, description)
    header.section-projectHeader(class='is-' + format)
        .section-projectHeader-container
            .section-projectHeader-text
                span.section-projectHeader-year(data-component='Paragraph' data-option-delay='1')='('+clientName+')'
                h1.ui-h2.section-projectHeader-title(data-component='Title')=name
            .section-projectHeader-bottom
                .section-projectHeader-cover(data-component='Image' data-option-duration='3' data-option-delay='0.55' data-option-clip-path='inset(0% 50% 0% 50%)')
                    +parallax(cover.fields.file.url, cover.fields.file.details.image.width, cover.fields.file.details.image.height, cover.fields.description, 8, false)
                .ui-container-large.section-projectHeader-details
                    ul.section-projectHeader-tags
                        each tag, index in tags
                            li.section-projectHeader-tagsItem(data-component='Paragraph' data-option-delay=`${ index * 0.07 }`)=tag.sys.id + `${index === tags.length - 1 ? '' : ','}`
                    .section-projectHeader-description
                        p(data-component='Paragraph' data-option-delay='0.5' data-option-opacity data-option-stagger-lines data-option-column)!=getSpacerText(description)