mixin work-card(format, name, excerpt, date, url, coverUrl, coverAlt, transitionDelay)
    a.component-workCard.is-hidden(class='is-' + getFormat(format) href=url data-component='WorkCard' data-option-transition-delay=transitionDelay)
        article.component-workCard-wrapper(data-ref='cursorLink[]')
            .component-workCard-cover(data-cursor-target)
                +parallax(coverUrl, coverAlt, 12, false)
            .component-workCard-content
                h2.ui-h9.ui-wordMask.component-workCard-name(data-ref='name')
                    span.component-workCard-nameInner=name
                    span.component-workCard-nameInner=name
                .component-workCard-separator
                .component-workCard-details
                    p.ui-p-xl.component-workCard-excerpt= excerpt
                    span.ui-p-xl.component-workCard-date= date
