mixin work-card(name, excerpt, date, url, coverUrl, coverAlt, transitionDelay)
    a.component-workCard.is-hidden(href=url data-component="WorkCard" data-option-transition-delay=transitionDelay)
        article.component-workCard-wrapper(data-ref="cursorLink[]" data-cursor-sticky)
            .component-workCard-cover(data-cursor-target)
                img.component-workCard-coverImage(src=coverUrl, alt=coverAlt)
            .component-workCard-content
                h2.ui-h9.ui-wordMask.component-workCard-name
                    span.component-workCard-nameInner(data-ref="nameInners[]")
                        | name
                    span.component-workCard-nameInner(data-ref="nameInners[]")
                        | name
                .component-workCard-separator
                .component-workCard-details
                    p.ui-p-xl.component-workCard-excerpt= excerpt
                    span.ui-p-xl.component-workCard-date= date
