extends ../base.pug

block variables
    - var metaPageName = aboutPage.pageName
    - var pageName = 'about'
    - var pageComponent = 'About'
    - var pageShade = 'dark-beige'

block page

    section.ui-container-large.page-about-content
        h1.page-about-title(data-component='AboutTitle' data-loop=`${aboutPage.loopingWords.join()}`)!=getTitleAbout(aboutPage.title)

        .page-about-wrapper
            .page-about-wrapper-image
                .page-about-wrapper-image-inner
                    span.page-about-wrapper-image-inner-scotch
                        +image('images/scotch.png', 200, 70, '')(data-component='Image' data-option-delay='1' data-option-duration='2' data-option-opacity data-option-clip-path='inset(0 0 100% 0)')
                    +image(aboutPage.portrait.fields.file.url, aboutPage.portrait.fields.file.details.image.width, aboutPage.portrait.fields.file.details.image.height, aboutPage.portrait.fields.file.title)(data-component='Image' data-option-delay='0.6' data-option-duration='2' data-option-opacity data-option-clip-path='inset(0 0 100% 0)')
            

            .page-about-wrapper-text
                ul.page-about-wrapper-text-skills
                    each skill in aboutPage.skills
                        li.pagpage-about-wrapper-text-skills-item(data-component='Paragraph' data-option-delay='0.5' data-option-opacity)='('+skill+')'

                .page-about-wrapper-text-activities
                    p(data-component='Paragraph' data-option-delay='0.5' data-option-opacity)=aboutPage.recentActivities

                .page-about-wrapper-text-carreer
                    p.page-about-wrapper-text-carreer-title(data-component='Paragraph' data-option-delay='0.5' data-option-opacity)=aboutPage.previousActivitiesTitle

                    ul.page-about-wrapper-text-carreer-list
                        each externalLink in common.externalLinks
                            each activity in aboutPage.pastExperiences
                                if activity.key == externalLink.key
                                    li.page-about-wrapper-text-carreer-list-item
                                        a(href!=`${activity.key == externalLink.key ? externalLink.value : ""}` target='_blank' rel='noopener noreferrer') 
                                            svg.page-about-wrapper-text-carreer-list-item-arrow(width='18' height='16' viewbox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg')(data-component='Image' data-option-delay='0.9' data-option-opacity)
                                                path(d='M8.1604 1.00195C8.1604 4.61926 14.366 8.18875 16.9557 8.18875' stroke='currentColor' stroke-width='1.5')
                                                path(d='M8.1604 15.3755C8.1604 11.7582 14.366 8.18869 16.9557 8.18869' stroke='currentColor' stroke-width='1.5')
                                                path(d='M16.6869 8.18848L0.474121 8.18848' stroke='currentColor' stroke-width='1.5')
                                            span.page-about-wrapper-text-carreer-list-item-name(data-component='Paragraph' data-option-delay='0.9' data-option-opacity)=activity.key
                                            span.page-about-wrapper-text-carreer-list-item-date(data-component='Paragraph' data-option-delay='1' data-option-opacity)='('+activity.value+')'

        .page-about-client 
            h3.page-about-client-surtitle(data-component='Title' data-option-delay='0.5')=aboutPage.clientSurtitle
            p.page-about-client-list(data-component='Paragraph' data-option-delay='0.5')!=getWysiwyg(aboutPage.customers)

    section.page-about-push
        +parallax(aboutPage.pushImage.fields.file.url, aboutPage.pushImage.fields.file.details.image.width, aboutPage.pushImage.fields.file.details.image.height, aboutPage.pushImage.fields.description, 8, false)
        .page-about-push-content
            h2.ui-h8.page-about-push-title(data-component='Paragraph' data-option-delay='0.3')!=aboutPage.pushTitle
            +circled-button('/projects', aboutPage.pushButton)
    
    include ../components/footer
            